{% extends "base.html" %}
{% block title %} Log in {% endblock %}
{%block content%}
<h1>Login</h1>
{% if form.errors %}
<p>Ваш логин и пароль не совпадают, попробуйте снова</p>
{% else %}
<p>Пожалуйста, заполните форму входа. </p>
<p> Если у Вас нет аккаунта, Вы можете <a href=" {% url "account:register" %}">зарегистрироваться</a>.</p>
{% endif %}
<div class="login-form">
    <form action="{% url 'account:login' %}" method="post">
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" value="Вход">
    </form>
    <p>
        <a href="{% url "account:password_reset" %}">
            Забыли пароль?
        </a>
    </p>
</div>
<div class="social">
    <ul>
        <li class = "google">
            <a href="{% url "social:begin" "google-oauth2" %}">
                Войти через Google
            </a>
        </li>
    </ul>
</div>
{% endblock %}